*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-wrapper{
    height: 100%;
    width: 100%;
    background-color: #352f28;
    position: relative;
}

h1{
    font-size: 40px;
    padding: 16px 0;
    /* background-color: aquamarine; */
    color: #d0a76d;
    text-align: center;
  }
  
#taskInput{
    display: block;
    width: 100%;
    max-width: 80%;
    padding: 10px 40px 10px 20px;
    font-size: 18px;
    margin: 5px auto;
    color: #cbb17f;
    background-color: #352f28;
    border-radius: 10px;
    border-bottom: 2px solid #d0a76d;
    border-width: 0 0 2px 0;
    transition: all 0.3s ease;
}

#taskInput::placeholder{
 color: #cbb17f; 
}

#taskInput:focus{
  border-radius: 10px;
  background-color: #fff;
  outline-color: #d0a76d;
  color: #352f28;
}

#taskInput:focus::placeholder{
  color: #352f28; 
 }

#addButton{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #d0a76d;
    background-color: #352f28;
    /* background-color: aquamarine; */
    border: none;
    margin: auto;
    position: absolute;
    top: 84px;
    right:10.3%;
    padding: 10px;
    
    /* border-bottom: 1.5px solid black; */
}
  
  ul {
    width: 100%;
    max-width: 70%;
    margin: 64px auto;
  }
  
  li {
    background-color: #6d5032;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    margin: 20px;
  }

  li span{
    font-size: 20px;
    color: #352f28;
    width: 85%;
  }

  li input{
    border: none;
    width: 85%;
    margin: 5px;
    padding: 8px;
    color: #cbb17f;
    background-color: #352f28;
    border: none;
    border-radius: 10px;
  }

  li button{
    border: none;
    color: #cbb17f;
    font-size: 18px;
    font-weight: 700;
    background-color: #352f28;
    border-radius: 5px;
    padding: 6px 14px;
  }
  
  /* Responsive styles */
  @media screen and (min-width: 768px) {
    input[type="text"],
    button {
      max-width: 200px;
    }
  }